{% extends 'base.html' %}
{% block state-answer %}active{% endblock state-answer %}
{% block title %}Write A Answer To Question - Stackabundant{% endblock title %}

{% block content %}
<br><br><br><br><br>
<div class="container">
	<h3>Write A Answer To Question</h3>
	<p>Make Sure Your Answer Make Sure It Is Clear and easy to understand(Please Write Carefully Because Your Answer Is Neither Editable Nor Deletable)</p>
	<hr><br>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Post" class="btn btn-lg btn-success">
		<br><br>
	</form>
</div>
{% endblock content %}